@media only screen and (max-width: 1200px) {
    .nav-bar-div
    {
        margin-left: 5px;
    }
    .nav-bar
    {
        padding-right:0.2rem;
    }
    li a{
        color: #fff;
        padding:1rem 0.5rem;
        
    }
    .ted-x{
        margin-left: 30px;
    }
    .about-event
    {
        margin-left: 50px;
        margin-right: 50px;
    }
    .abt-event
    {
        padding-right:4rem;
        padding-left: 1rem;
    }
    .venue-section{
        height:600px;
    }
    .connect{
       
        color: #111;
        background-color: rgb(236, 232, 232);
        padding:2rem 4rem;
        padding-bottom: 8rem;
    }
    .event-section
    {
        padding-left:50px;
        padding-right:50px;
    }
    .time-section
    {
        padding-left:200px;
        padding-right:200px;
    }
}




@media only screen and (max-width: 1199px) {
    
    .nav-bar-div-icon
    {
        width:30px;
        height:21px;
        top:1rem;
        position: absolute;
        right:20px;
    }
   
    .nav-bar-div-icon-top
    {
        width:28px;
        background-color: #fff;
        height:5px;
        top:0;
        position: absolute;
    }
    .nav-bar-div-icon-middle
    {
        width:28px;
        background-color: #fff;
        height:5px;
        top:9px;
        position: absolute;     
    }
    .nav-bar-div-icon-bottom
    {
        width:28px;
        background-color: #fff;
        height:5px;
        top:18px;
        position: absolute;        
    }
    .nav-bar
    {
        justify-content: flex-end;
    }
    .nav-bar-div
    {
       display: none;
    }
    .ted-x{
        margin-left: 20px;
        width:180px;
        margin-top: 1rem;
    }
    .nav-bar-img
    {
        text-align: end;
    }
    .text-home{
        margin-top:2rem;
        max-width:100%;
        margin-bottom:2rem;
    }
    .tedx-back-img{
      width: 100%;
      height: 815px;
      background-position: center;
    }
    header img{
        width:100%;
        height:400px;
        display: block;
    }
    .header-title
    {
        font-size:60px;
    }
    .header-location
    {
        font-size: 1.9rem;
    }
    .header-location-dte
    {
        font-size: 1.8rem;
        line-height: 30px;
    }
    h3{
        margin-top: 15px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .about-event
    {
        color: #111;
        margin: 0;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    .abt-event
    {
        padding:0 1rem;
    }
    .abt-tdx
    {
        height: fit-content;
        width: 1500px;
    }
    .venue-section{
       height:500px;
    }
    .venu-subtitle
    {
        font-size: 1.25rem;
        max-width: 19rem;
    }
  
    .connect{
        padding:1rem 1rem;
    }
    .col-md-4{
        width:100%;
        margin-bottom: 1.5rem;
        overflow: hidden;
    }
    .connect-head
    {
        font-size: 2.5rem;
        margin-top: 0;
    }
    .contact-div
    {
        font-size: 0.7rem;
    }
    .btn-locatn
    {
        margin-top: 1rem;
    }
    .event-section
    {
        padding:0;
    }
    .time-section
    {
        display: flex;
        flex-wrap: wrap;
        padding:0 4rem;
        height: auto;
        top:20%;
    }
    .time-section h1{
        font-size: 3rem;
        font-weight: 900;
    }
    .time-section div{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .logo
    {
        width:70%;
        height: 70%;
    }
}





@media only screen and (max-width: 550px) {
    .nav-bar
    {
        justify-content: flex-end;
    }
    .nav-bar-div
    {
       display: none;
    }
    .ted-x{
        margin-left: 20px;
        width:140px;
        margin-top: 1rem;
    }
    .nav-bar-img
    {
        text-align: end;
    }
    .text-home{
        margin-top:2rem;
        max-width:100%;
        margin-bottom:2rem;
    }
    .tedx-back-img{
      width: 100%;
      height: 400px;
    }
    header img{
        width:100%;
        height:400px;
        display: block;
    }
    .header-title
    {
        font-size:40px;
    }
    .header-location
    {
        margin-top:-10px;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.3rem;
        line-height: 30px;
        padding-bottom: 2rem;
    }
    .header-location-dte
    {
        margin: 0;
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.2rem;
        line-height: 20px;
    }
    h3{
        margin-top: 12px;
        font-size: 20px;
        line-height: 30px;
       
        margin-bottom: 10px;
        font-weight: 600;
    }
    .about-event hr{
        margin-top: -21px;;
    }
    .about-event
    {
        color: #111;
        margin: 0;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    .row{
        display:flex;
       flex-direction:column ;
       width:100%;
    }
    .column1
    {
        width:100%;
    }
    .abt-event
    {
       padding:0;
    }
    .abt-event h2{
        font-size: 2rem;
    }
    .abt-event p{
        font-size:0.85rem;
        text-align:start;
        line-height:1.5rem ;
        letter-spacing: 0.02rem;
        word-spacing:0.02rem;
        font-weight: 400;
    }
    .venue-section{
       height:500px;
    }
    .venu-subtitle
    {
        font-size: 1.25rem;
        max-width: 19rem;
    }
  
    .connect{
        padding:1rem 1rem;
    }
    .col-md-4{
        padding:0;
        width:100%;
        margin-bottom: 1.5rem;
        overflow: hidden;
    }
    .connect-head
    {
        font-size: 2rem;
        margin-top: 0;
    }
    .contact-div
    {
        font-size: 0.7rem;
    }
    .btn-locatn
    {
        margin-top: 1rem;
    }
    .event-section
    {
       display: flex;
       flex-direction: column;
       height: auto;
       padding: 2rem 0;
    }
    .event-section h5{
        margin-bottom: 0.5rem;
    }
    .event-section div
    {
        padding-bottom: 1.85rem;
    }
    .time-section
    {
        display: flex;
        flex-wrap: wrap;
        padding:0 3rem;
        height: auto;
        top:20%;
    }
    .time-section h1{
        font-size: 2rem;
    }
    .time-section div{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .row-facebook{
        height: 300px;
      }  
      .row-twitter{
        height: 300px;
      } 
      .row-Insta{
        height: 300px;
      }  
    }

    @media screen and (max-width:767px){
        .footer{
           display: block;
            text-align: center;
            padding: 50px 0 32px;
            background-color: #fff;
            font-family: Roboto,sans-serif;
            line-height: 23px;
            font-size: 14px;
        }
        .footer-logo img {
            width: 120px;
            text-align: center;
            padding: 0px 0px 25px;
            vertical-align: middle;
           }
           .footer .disclaimer {
               padding-bottom: 25px;
               
               text-align: center;
           }
           p {
               margin: 0 0 10px;
           }
           ul{
               font-size: 20px;
               font-family: Roboto,sans-serif;
               padding: 0px 0px 20px;
               text-align: center;
               list-style: none;
               line-height: 30px;
               margin: 0;
    
           }
           
           li {
                display: inline-block;
                padding:0px 10px;
           }
           i{
               color: grey;
               
           }
           .about-event hr{
            margin-top: -21px;
        }
        .social-icon  .fa-facebook{
            font-size: 14px;
            padding-left: 122px;
            
        }
       }
    @media screen and (min-width:768px){
       .footer {
           padding: 50px 0 32px;
           background-color: #fff;
           font-family: Roboto,sans-serif;
           font-size: 14px;
       }
    
       .footer-logo img {
           width: 120px;
           height: auto;
           max-width: 100%;
           vertical-align: middle;
           border: 0;
           padding-bottom: 25px;
       }
       .footer_disclaimer {
           padding-bottom: 25px;
           padding-bottom: 25px;
           font-size: 14px;
           padding: 0px 0px 25px;
           margin: 0px 0px 10px;
           
           
       }
       .footer_container p {
               margin: 0 0 10px;
               max-width: 350px;
           }
       
           .social-icons{
               float:right;
               margin: 0;
               
           }
           .footer_container{
               float: left;
           }
           .social-icon {
               padding-bottom: 50px;
               text-align: right;
           }
            li{
               display: inline-block;
               padding: 0px 20px;
               
           }
           i{
               color: grey;
               font-size: 24px;
               line-height: 32px;
           }
           .footer_container{
               margin-left: 7%;
           }
           .social-icon{
               margin-right: 7%;
           }
           .footer .fa{
            font-size: 24px;
            line-height: 32px;
        }
        .abt-sub-title{
            margin-top: 32px;
        }
        .connect {
            overflow-y: hidden;
            padding-left: 12rem;
        }
        
           }
